services:
  keycloak:
    image: jboss/keycloak
    container_name: keycloak
    ports:
      - "8080:8080"
    volumes:
      - ./keycloak-imports:/opt/jboss/keycloak/imports
    environment:
      KEYCLOAK_USER: admin
      KEYCLOAK_PASSWORD: admin2
      KEYCLOAK_IMPORT: /opt/jboss/keycloak/imports/realm.json
      KEYCLOAK_FRONTEND_URL: http://localhost:8080/auth

  discovery-service:
    image: discovery-service
    container_name: discovery-service
    build:
      context: ./discovery-service
      dockerfile: Dockerfile
    ports:
      - "8761:8761"

  car-service:
    image: car-service
    container_name: car-service
    build:
      context: ./car-service
      dockerfile: Dockerfile
    ports:
      - "8090:8090"
    environment:
      EUREKA_DEFAULTZONE: http://discovery-service:8761/eureka
      KEYCLOAK_AUTH: http://keycloak:8080/auth
      KEYCLOAK_REALM: CarRental
      KEYCLOAK_CLIENT: rental-client
      KEYCLOAK_CLIENT_SECRET: tajnysekret
    links:
      - discovery-service
      - keycloak

  gateway-service:
    image: gateway-service
    container_name: gateway-service
    build:
      context: ./gateway-service
      dockerfile: Dockerfile
    ports:
      - "8082:8082"
    environment:
      EUREKA_DEFAULTZONE: http://discovery-service:8761/eureka
      KEYCLOAK_AUTH: http://keycloak:8080/auth
      KEYCLOAK_REALM: CarRental
      KEYCLOAK_CLIENT: rental-client
      KEYCLOAK_CLIENT_SECRET: tajnysekret
    links:
      - discovery-service
      - keycloak
